@media (max-width: 1200px) {
  .tab__content-box {
    display: block;
  }
  .tab__item-box {
    justify-content: flex-start;
  }
  .order__form {
    margin: 0 auto;
  }
  .order__tabs {
    .tabs {
      display: block;
    }
  }
  .item__box-images {
    img {
      max-width: 100%;
    }
  }
  .tab__item-images {
    img {
      max-width: 100%;
    }
  }
}
@media (max-width: 1100px) {
  .findus__box {
    display: block;
  }
  .findus__map {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .tab__advantages,
  .item__box-specifications,
  .colors__items {
    margin-bottom: 30px;
  }
  .header__desc {
    display: none;
  }
  .header__time {
    margin-right: 0;
  }
  .header__callback {
    margin-right: 0;
    margin-left: 0;
  }
  .services__box {
    display: block;
  }
  .services__item {
    width: 100%;
    margin-bottom: 30px;
    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 35px;
      max-width: 60%;
      width: 100%;
    }
  }
  .services__item-box {
    display: inline-block;
    max-width: 450px;
    width: 100%;
    vertical-align: 40px;
    margin-left: 30px;
  }
  .services__item-list {
    margin-right: 0;
  }
  .services__item-price {
    margin-right: 15px;
  }
}
@media (max-width: 950px) {
  .works__item {
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
    text-align: center;
    &:first-child {
      margin-right: auto;
    }
    & + .works__item {
      margin-right: auto;
    }
  }
  .works__items {
    margin: 0 auto;
  }
  .main {
    padding: 30px 0;
  }
  .main__inner {
    display: block;
  }
  .main__title {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
  .main__advantages {
    justify-content: center;
    margin-bottom: 50px;
  }
  .form__callback {
    margin: 0 auto;
  }
}
@media (max-width: 900px) {
  .question__item {
    display: block;
  }
}
@media (max-width: 850px) {
  .stock__box {
    display: block;
  }
  .stock__item-title {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .stock__item-desc {
    font-size: 22px;
    margin-bottom: 35px;
  }
  .tab__item-box {
    display: block;
    .item__box-images {
      display: block;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      img {
        display: block;
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
  .tab__item-images {
    img {
      display: block;
      max-width: 100%;
      text-align: center;
      margin: 0 auto;
    }
    text-align: center;
    margin-bottom: 20px;
  }
  .tab__advantages-title {
    margin-top: 0px;
  }
  .item__box-specifications {
    margin-top: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 800px) {
  .header__time {
    display: none;
  }
}
@media (max-width: 768px) {
  .guarantee,
  .payment{
    margin-bottom: 40px;
  }
  .payment__title{
    margin-bottom: 20px;
  }
  .question{
    padding: 30px 0;
  }
  .findus__title,
  .stock,
  .order,
  .services {
    margin-bottom: 40px;
  }
  .stock{
    padding-top: 30px;
  }
  .findus__map {
    max-width: 100%;
    iframe {
      max-width: 100%;
      height: 350px;
    }
  }
  .works__title {
    padding-top: 0;
  }
  .specification__item + .specification__item,
  .specification__item:first-child {
    margin-right: 10px;
  }
}
@media (max-width: 650px) {
  .footer__box{
    display: block;
    text-align: center;
  }
  .footer__item-copy{
    text-align: left;
    margin-bottom: 20px;
  }
  .footer__item-tel{
    text-align: right;
    margin-top: 20px;
  }
  .header__inner {
    text-align: center;
    display: block;
  }
  .logotype {
    display: block;
    text-align: left;
  }
  .header__callback {
    display: inline-block;
    text-align: left;
    margin-right: 15px;
    margin-top: 15px;
  }
  .header__number {
    margin-top: 15px;
    display: inline-block;
    text-align: left;
    vertical-align: -7px;
  }
  .question__item {
   font-size: 18px;
  }
}
@media (max-width: 530px) {
  .main__title {
    font-size: 20px;
    span {
      font-size: 35px;
    }
  }
  .main__advantages {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .main__advantages-item {
    margin-top: 20px;
  }
  .main__advantages li + li {
    margin-left: 0;
  }
}
@media (max-width: 465px) {
  .services__item-price {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .services__item-box {
    margin-left: 0;
  }
  .services__item-list {
    margin-bottom: 20px;
  }
}
@media (max-width: 425px) {
  .services__item-list li::before {
    left: 8px;
  }
  .tab__content-box {
    padding-bottom: 40px;
  }
  .order {
    padding-top: 40px;
  }
  .order__title {
    margin-bottom: 30px;
  }
  .colors__box {
    margin-right: 0;
  }
  .services {
    margin-bottom: 30px;
  }
  .services__title {
    margin-bottom: 30px;
  }
  .main__title {
    font-size: 16px;
    margin-bottom: 25px;
    span {
      font-size: 30px;
      padding-top: 10px;
    }
  }
}
@media (max-width: 390px) {
  .form__call {
    padding: 20px 30px;
    h3 {
      font-size: 18px;
      span {
        font-size: 20px;
        margin-bottom: 25px;
      }
    }
  }
}
@media (max-width: 320px) {
  .question__item {
    font-size: 16px;
  }
  .colors__box:last-child {
    display: flex;
    .colors__item {
      margin-right: 15px;
    }
  }
  .order__tabs {
    .tabs {
      .tab-o {
        font-size: 16px;
      }
    }
  }
}
